body {
  background-color: #f5f6f8;
  width: 80%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.alert-style {
  color: #fff;
  font-size: 14px;
  background-color: blue;
  padding: 6px;
  cursor: pointer;
}

.logo {
  color: #434b54;
  margin-top: 25vh;
}

.btn-login {
  background-color: red;
  color: #fff;
  border: 1px solid red;
  padding: 8px;
  text-align: center;
  margin-bottom: 4px;
}

a.btn-link {
  color: #fff;
  text-decoration: none;
}

.btn-login:hover {
  background-color: #fff;
  color: red;
}

.btn-logs {
  margin-top: 25vh;
}

.btn-signup {
  background-color: red;
  color: red;
  border: 1px solid #fff;
  padding: 8px;
  text-align: center;

  /* margin-bottom: 4px; */
  width: 100%;
}

.btn-signup:hover {
  background-color: #fff;
  color: red;
}

.navbar_2 {
  background-color: red;
  color: #fff;
}

.budget-app {
  font-size: 22px;
  cursor: pointer;
}

.icon-img {
  height: 50px;
  width: 70px;
}

.container a {
  text-decoration: none;
  color: #434b54;
}

.new-category {
  border: 1px solid #fff;
  width: 90%;
}

.new-category:hover {
  border: 1px solid blue;
  background-color: #fff;
}

.add-cat {
  border: 1px solid #fff;
  width: 100%;
  background-color: red;
  color: #fff;
}

.add-cat:hover {
  border: 1px solid blue;
  background-color: #fff;
  color: red;
}

a.new-category {
  color: #fff;
}

a.new-category:hover {
  color: blue;
}

.category-div {
  height: 100px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-btn {
  border: #fff 1px solid;
  background-color: blue;
}

.back-btn:hover {
  color: blue;
  background-color: #fff;
  border: blue 1px solid;
}

a.back-btn-new {
  color: #fff;
}

.back-btn-new {
  color: #fff;
  background-color: red;
}

.back-btn-new:hover {
  color: red;
  background-color: #fff;
  border: 1px solid red;
}

.btn-hover {
  background-color: #fff;
  border: 1px solid red;
  color: red;
}

.time {
  text-align: center;
  margin-bottom: 8px;
  font-size: 14px;
}

.headings {
  font-size: 22px;
}

.nav-link {
  color: #fff;
}

.btn-login-small {
  background-color: red;
  color: #fff;
}

.btn-login-small:hover {
  background-color: #f5f6f8;
  color: red;
}
